.each-filter {
  .filter-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
  }
}
.error-msg-small {
  position: relative;
  transform: translateY(-4px);
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  .bg-transparent {
    background: transparent !important;
  }
  .bg-white {
    background-color: white !important;
  }
}
body {
  background-color: var(--v-theme-primary) !important;
  scroll-behavior: smooth;
  width: calc(100vw - 0px);
  .v-application {
    .text--h1 {
      font-size: 96px !important;
      line-height: 106px !important;
    }
    .text--h2 {
      font-size: 60px !important;
      line-height: 72px !important;
    }
    .text--h3 {
      font-size: 48px !important;
      line-height: 60px !important;
    }
    .text--h4 {
      font-size: 34px !important;
      line-height: 44px !important;
    }
    .text--h5 {
      font-size: 24px !important;
      line-height: 36px !important;
    }
    .text--h6 {
      font-size: 20px !important;
      line-height: 32px !important;
    }
    .text--subtitle-1 {
      font-size: 16px !important;
      line-height: 28px !important;
    }
    .text--subtitle-2 {
      font-size: 14px !important;
      line-height: 24px !important;
    }
    .text--body-1 {
      font-size: 16px !important;
      line-height: 28px !important;
    }
    .text--body-2 {
      font-size: 14px !important;
      line-height: 24px !important;
    }
    .text--btn {
      font-size: 14px !important;
      line-height: 20px !important;
    }
    .text--btn-2 {
      font-size: 14px !important;
      line-height: 20px !important;
    }
    .text--caption {
      font-size: 12px !important;
      line-height: 16px !important;
    }
    .text--overline {
      font-size: 10px !important;
      line-height: 12px !important;
    }
    .v-text-field {
      &-text--h1 {
        .v-text-field__slot {
          font-size: 96px !important;
          line-height: 106px !important;
        }
      }
      &-text--h2 {
        .v-text-field__slot {
          font-size: 60px !important;
          line-height: 72px !important;
        }
      }
      &-text--h3 {
        .v-text-field__slot {
          font-size: 48px !important;
          line-height: 60px !important;
        }
      }
      &-text--h4 {
        .v-text-field__slot {
          font-size: 34px !important;
          line-height: 44px !important;
        }
      }
      &-text--h5 {
        .v-text-field__slot {
          font-size: 24px !important;
          line-height: 36px !important;
        }
      }
      &-text--h6 {
        .v-text-field__slot {
          font-size: 20px !important;
          line-height: 32px !important;
        }
      }
      &-text--subtitle-1 {
        .v-text-field__slot {
          font-size: 16px !important;
          line-height: 28px !important;
        }
      }
      &-text--subtitle-2 {
        .v-text-field__slot {
          font-size: 14px !important;
          line-height: 24px !important;
        }
      }
      &-text--body-1 {
        .v-text-field__slot {
          font-size: 16px !important;
          line-height: 28px !important;
        }
      }
      &-text--body-2 {
        .v-text-field__slot {
          font-size: 14px !important;
          line-height: 24px !important;
        }
      }
      &-text--btn {
        .v-text-field__slot {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
      &-text--btn-2 {
        .v-text-field__slot {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
      &-text--caption {
        .v-text-field__slot {
          font-size: 12px !important;
          line-height: 16px !important;
        }
      }
      &-text--overline {
        .v-text-field__slot {
          font-size: 10px !important;
          line-height: 12px !important;
        }
      }
    }
    .v-checkbox {
      &-text--h1 {
        .v-input__slot label {
          font-size: 96px !important;
          line-height: 106px !important;
        }
      }
      &-text--h2 {
        .v-input__slot label {
          font-size: 60px !important;
          line-height: 72px !important;
        }
      }
      &-text--h3 {
        .v-input__slot label {
          font-size: 48px !important;
          line-height: 60px !important;
        }
      }
      &-text--h4 {
        .v-input__slot label {
          font-size: 34px !important;
          line-height: 44px !important;
        }
      }
      &-text--h5 {
        .v-input__slot label {
          font-size: 24px !important;
          line-height: 36px !important;
        }
      }
      &-text--h6 {
        .v-input__slot label {
          font-size: 20px !important;
          line-height: 32px !important;
        }
      }
      &-text--subtitle-1 {
        .v-input__slot label {
          font-size: 16px !important;
          line-height: 28px !important;
        }
      }
      &-text--subtitle-2 {
        .v-input__slot label {
          font-size: 14px !important;
          line-height: 24px !important;
        }
      }
      &-text--body-1 {
        .v-input__slot label {
          font-size: 16px !important;
          line-height: 28px !important;
        }
      }
      &-text--body-2 {
        .v-input__slot label {
          font-size: 14px !important;
          line-height: 24px !important;
        }
      }
      &-text--btn {
        .v-input__slot label {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
      &-text--btn-2 {
        .v-input__slot label {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
      &-text--caption {
        .v-input__slot label {
          font-size: 12px !important;
          line-height: 16px !important;
        }
      }
      &-text--overline {
        .v-input__slot label {
          font-size: 10px !important;
          line-height: 12px !important;
        }
      }
    }
    .v-label {
      font-weight: 500;
    }
    .v-auto {
      &-text--h1 {
        .v-select__selections {
          font-size: 96px !important;
          line-height: 106px !important;
        }
      }
      &-text--h2 {
        .v-select__selections {
          font-size: 60px !important;
          line-height: 72px !important;
        }
      }
      &-text--h3 {
        .v-select__selections {
          font-size: 48px !important;
          line-height: 60px !important;
        }
      }
      &-text--h4 {
        .v-select__selections {
          font-size: 34px !important;
          line-height: 44px !important;
        }
      }
      &-text--h5 {
        .v-select__selections {
          font-size: 24px !important;
          line-height: 36px !important;
        }
      }
      &-text--h6 {
        .v-select__selections {
          font-size: 20px !important;
          line-height: 32px !important;
        }
      }
      &-text--subtitle-1 {
        .v-select__selections {
          font-size: 16px !important;
          line-height: 28px !important;
        }
      }
      &-text--subtitle-2 {
        .v-select__selections {
          font-size: 14px !important;
          line-height: 24px !important;
        }
      }
      &-text--body-1 {
        .v-select__selections {
          font-size: 16px !important;
          line-height: 28px !important;
        }
      }
      &-text--body-2 {
        .v-select__selections {
          font-size: 14px !important;
          line-height: 24px !important;
        }
      }
      &-text--btn {
        .v-select__selections {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
      &-text--btn-2 {
        .v-select__selections {
          font-size: 14px !important;
          line-height: 20px !important;
        }
      }
      &-text--caption {
        .v-select__selections {
          font-size: 12px !important;
          line-height: 16px !important;
        }
      }
      &-text--overline {
        .v-select__selections {
          font-size: 10px !important;
          line-height: 12px !important;
        }
      }
    }
    .fixed-border-app {
      border: 1px solid #d5d5d5 !important;
      border-color: #d5d5d5 !important;
    }
    .bg-transparent {
      background-color: transparent !important;
    }
    .field-set-border-app {
      fieldset {
        border-color: #d5d5d5 !important;
      }
    }
    .input-text-fieldset-normalize {
      .v-input__slot {
        fieldset {
          border-color: #d5d5d5 !important;
        }
      }
    }
    .error-border {
      border-color: #d11313 !important;
      .v-input__slot {
        fieldset {
          border-color: #d11313 !important;
        }
      }
    }
    .placeholder--text {
      color: #9e9e9eae !important;
      font-weight: light !important;
    }
    .filter-input {
      display: flex;
      align-items: center;
      border: 1px solid #e6e6e6;
      border-radius: 8px;
      padding: 9px 12px;
      width: 100%;
      input,
      textarea {
        width: 100%;
        resize: none;
      }
      &.outer-border {
        border: 1px solid #d5d5d5 !important;
        border-radius: 4px;
        border-color: #d5d5d5 !important;
      }
    }
  }
  .font-size-14 {
    font-size: 14px !important;
  }
  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: #000;
  }
  max-height: 100vh;
  /* overflow-x: hidden; */
  overflow: hidden;
  .v-app__router-view {
    flex-grow: 1;
  }
  *:not(i) {
    font-family: 'Roboto';
  }
  .input-no-focus {
    &:focus {
      border: none !important;
      outline: none !important;
    }
  }
  .font-weight-semibold {
    font-weight: 600 !important;
  }
}
.focus-no-outline {
  &:focus {
    outline: none !important;
  }
}
.list-toastMsg {
  position: fixed;
  z-index: 99999;
  bottom: 10px;
  left: 32px;
  .toastMsg {
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 4px 16px;
    border-radius: 4px;
    min-width: 326px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    transform: translateY(10px);
    opacity: 0;
    animation: showUp 0.3s 0.1s linear forwards;
  }
  .toast-msg {
    &__error {
      background-color: #f3271cc5;
    }
    &__success {
      background-color: #005b889f;
    }
  }
}
@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  20% {
    opacity: 1;
    transform: translateY(3px);
  }
  60% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* VUETIFY OVERWRITE */
.page-container {
  /* min-height: 100vh; */
}
.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}
.h-100 {
  height: 100% !important;
}
.w-50 {
  width: 50% !important;
}
.w-100 {
  width: 100% !important;
}
.flex-no-wrap {
  flex-wrap: nowrap !important;
}
.v-btn-normalize {
  text-transform: none !important;
  letter-spacing: 0.0025em !important;
  height: auto !important;
}
.v-btn-text-normalize {
  text-transform: none !important;
  letter-spacing: 0.0025em !important;
}
.v-btn-text-left {
  justify-content: flex-start !important;
  text-align: left !important;
}
.v-tab-normalize {
  text-transform: none !important;
  letter-spacing: 0.0025em !important;
  height: auto !important;
}
.overflow-y-visible {
  overflow-y: visible !important;
}
.v-btn-outlined-primary-white {
  background-color: #fff !important;
  border-color: #0d7042 !important;
}
.fixed-confirm-btn-w {
  width: 120px !important;
}
.v-texarea-normalize {
  .v-input__slot {
    &::before,
    &::after {
      display: none !important;
    }
  }
}
.v-btn-n-focus {
  &:focus:before {
    opacity: 0 !important;
  }
}
.no-box-shadow {
  box-shadow: none !important;
}
.capitalize {
  text-transform: capitalize !important;
}
.scroll-y-mod_big {
  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0);
    border-radius: 4px;
  }
  &:hover {
    /* Handle on hover */
    &::-webkit-scrollbar-thumb {
      background: rgba(136, 136, 136, 0.693);
    }
  }
}
.pointer-events-none {
  pointer-events: none !important;
}
.primary_light-opacity {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8)
  );
}
.v-autocomplete__content {
  .v-list-item[role='option'] {
    &:hover {
      background-color: #e6e6e6 !important;
    }
  }
}
.v-autocomplete-form__mod {
  border: 1px solid #e6e6e6;
  border-radius: 8px !important;
  input::placeholder {
    color: #808080 !important;
    font-weight: 400;
    font-size: 14px !important;
  }
  input {
    font-weight: 400;
    cursor: pointer;
    font-size: 14px !important;
  }
  &.v-select--is-menu-active {
    background-color: #f2f8fa !important;
    .v-input__slot {
      background-color: #f2f8fa !important;
    }
  }

  &.v-input--is-label-active {
    .v-input__append-inner:nth-child(3) {
      display: none;
    }
  }
}
.v-application {
  .v-autocomplete-no-border {
    border: 1px solid #e6e6e606;
    border-radius: 8px !important;
  }
  .v-autocomplete-no-box-shadow {
    .v-input__slot {
      box-shadow: none !important;
    }
  }
  .v-autocomplete-no-min-height {
    .v-input__control {
      min-height: unset !important;
    }
  }
  .v-autocomplete-formed {
    border: 1px solid #d5d5d5 !important;
    border-color: #d5d5d5 !important;
    .v-input__control {
      min-height: 38px !important;
      height: 38px !important;
    }
  }
  .v-autocomplete-size-16 {
    input::placeholder {
      color: #808080 !important;
      font-weight: 400;
      font-size: 16px !important;
    }
    input {
      font-weight: 400;
      cursor: pointer;
      font-size: 16px !important;
    }
  }
}
.no-before {
  &::before {
    display: none !important;
  }
}
.box-shadow--mod {
  box-shadow: 0px 1px 3px 0px #0000000a, 0px 1px 1px 0px #00000014,
    0px 2px 1px -1px #0000001f, 0px 4px 1px -1px #0000001f !important;
}
.box-shadow--mod-v2 {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08), 0px 1px 8px rgba(0, 0, 0, 0.04) !important;
}
.box-shadow--mod-lighter {
  box-shadow: 0px -1px 1px -1px rgba(0, 0, 0, 0.12),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.04) !important;
}
@media only screen and (min-width: 1560px) {
  .container {
    max-width: 1440px !important;
  }
}
@media only screen and (min-width: 1904px) {
  .container {
    max-width: 1580px !important;
  }
}
.limit-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
.limit-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.limit-line-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.v-app__sidebar {
  position: sticky;
  // top: 56px;
  height: calc(100vh);
  border-right: 1px solid #f5f6fa;
}
.no-wrap {
  flex-wrap: nowrap !important;
}
.white-space-nowrap {
  white-space: nowrap !important;
}
.white-space-break-spaces {
  white-space: break-spaces !important;
}
.pointer {
  cursor: pointer;
}
div.divivder {
  height: 1px;
  width: 100%;
}
.content-wrap-relative {
  position: relative;
}
.v-btn.btn-load-absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
.v-btn.btn-no-mw {
  min-width: unset !important;
}
.v-btn.low-letter-spacing {
  letter-spacing: 0.0125em !important;
}
body .v-application .font-weight-regular {
  font-weight: 400 !important;
}
body .v-application .font-weight-500,
.fw-500 {
  font-weight: 500 !important;
}
[contentEditable='true']:empty:before {
  content: attr(data-text);
  height: 32px;
  line-height: 32px;
  color: #b3b3b3;
  font-weight: 300 !important;
}
.border-prim {
  border-color: #006c99 !important;
}
.app-container {
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: auto;
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-track {
    background: #e6e6e6;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: rgb(96, 96, 96);
  }
}
.table-container {
  border-collapse: collapse;
  thead {
    td,
    th {
      height: 46px;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.0015em;
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #f5f6fa !important;
      td {
        height: 46px;
      }
      &:not(.no-data):hover {
        background-color: #f2f8fa;
      }
    }
  }
}
.small-charactor-count {
  font-size: 12px;
  display: block;
  margin-left: auto;
  width: fit-content;
  transform: translateY(-7px);
}
.hover {
  &-semi-bold {
    &:hover {
      font-weight: 500;
    }
  }
  &-bold {
    &:hover {
      font-weight: bold;
    }
  }
  &-underline {
    &:hover {
      text-decoration: underline;
    }
  }
}
.mw-100 {
  max-width: 100% !important;
}
.centered-checkbox {
  justify-content: center;
  .v-input__slot {
    justify-content: center;
  }
}
.white-border-checkbox {
  .v-input__slot label {
    i {
      color: #fff !important;
    }
  }
}
.divider {
  width: 100%;
  border-top: 1px solid;
}
body {
  .container {
    max-width: 100% !important;
  }
  .h-0 {
    height: 0;
  }
}
@media only screen and (min-width: 1264px) {
}
